@import "src/scss/reset";

button:focus, input:focus {
  outline: none;
  cursor: pointer;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background: url("http://erp.apptrix.ru/static/rest_framework/img/grid.png") repeat-x fixed;
}

button, a {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
